title: "Aaron Spencer Apps"
description: "Fun apps available on the App Store"
baseurl: "/public-website"
url: "https://aaron-spencer.github.io"

# Build settings
remote_theme: "mmistakes/minimal-mistakes@4.27.3"

plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-include-cache

# Exclude files from processing
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock

author:
  name: "Aaron Spencer"
  avatar: ""
  bio: "Network, Cloud, Infrastructure Leader and Developer. App Developer on the side :smile:"
  location: "NYC Area"
  email: your-email@example.com
  links:
    - label: "Linked-In"
      icon: "fa-brands fa-linkedin"
      url: "https://www.linkedin.com/in/aspencer"

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: # true
      share: true
      related: true
        # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
